.has-background-blue {
  background-color: $blue;
}

.has-text-blue {
  color: $blue;
}

.kuartz-underline-title {
  margin: auto;
  margin-bottom: 40px;
  width: 40px;
  border-bottom: 4px solid $primary;
}

.kuartz-underline-title-inverted {
  margin: auto;
  margin-bottom: 40px;
  width: 40px;
  border-bottom: 4px solid $blue;
}
