// ###### FONTS ######
.light{
  font-weight: 300 !important;
}
.normal{
  font-weight: 400 !important;
}
.semi-bold{
  font-weight: 600 !important;
}
.bold{
  font-weight: 800 !important;
}

@for $i from 1 through 100 {
  .size-#{$i} {
    font-size: $i+px !important;
  };
}

// ###### MISCELLANEOUS ######
a:hover{
  text-decoration: none;
}

.box-shape{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.border-radius-8{
  border-radius: 8px;
}
