@mixin flexbox($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
// User @include flexbox;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%hover-zoom {
  transition: .2s;
  &:hover {
    transform: scale(1.1);
  }
}
%box-shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}
