.btn-cta {
  @extend %flex-center;
  @extend %box-shadow;
  $cta-height: 36px;
  height: $cta-height;
  border-radius: calc(#{$cta-height} / 2);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: calc(#{$cta-height} / 2);
  padding-right: calc(#{$cta-height} / 2);
}

.btn-cta--primary {
  background-color: $primary;
  border: 2px solid $primary;
  color: $white;

  &:hover {
    background-color: $white;
    color: $primary;
  }
}

.btn-cta--secondary {
  background-color: $secondary;
  border: 2px solid $secondary;
  color: $white;

  &:hover {
    background-color: $white;
    color: $secondary;
  }
}
