.member {
  display: flex;
  justify-content: center;
  &-details {
    margin-left: 16px;
  }
}

.contact-btn{
  display: flex; align-items: center; justify-content: center;
  height: 54px;
  border-radius: 24px;
  font-size: 20px !important;
}