.member {
  display: flex;
  justify-content: center;
  &-details {
    margin-left: 16px;

    .title{
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.08em;
    }

    .jobs-description{
      font-size: 16px;
      letter-spacing: 0.04em;
    }
    
    .is-link{
      letter-spacing: 0.04em;

      &:hover{
        
      }
    }
  }
}

.contact-btn{
  margin: auto;
  cursor: pointer;
  background: $primary;
  border: 1px solid $primary;
  display: flex; align-items: center; justify-content: center;
  width: 240px;
  height: 56px;
  color: white;
  border-radius: 28px;
  font-size: 16px !important;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-weight: 600;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  &:hover{
    transform: scale(1.02);
    background: white;
    color: $primary;
  }
}