.navbar{
  display: flex;
  align-items: initial;
  justify-content: initial;
  padding: 0 24px;
  border-bottom: 1px solid #F5F5F5;

  .navbar-brand{
    display: flex;
    align-items: center;

    .navbar-logo-link, .navbar-logo{
      height: 72%;
      width: auto;
    }
  }
 
  .navbar-menu {
    .navbar-item.active, .navbar-item:hover {
      color: $primary;
    }
    
    .navbar-item{
      font-weight: 800;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }
  }
}

@media screen and (max-width: $desktop) {
  .navbar{
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand{
    width: 100%;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-item{

  }

  .navbar-item.active{
    border-bottom: 0 !important;
  }

  .navbar-menu{
    width: 100%;
    margin: auto;
    box-shadow: initial;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
}