.reference-card {
  margin-bottom: 16px;
  box-shadow:  0 2px 3px rgba(hsl(0, 0%, 4%), 0.1), 0 0 0 1px rgba(hsl(0, 0%, 4%), 0.1) ;
  border-radius: 8px;
  overflow: hidden;

  .portfolio-image{
    cursor: pointer;
  }
}

.reference-card-title{
  font-size: 24px !important;
}

.reference-card-description{
  font-size: 20px !important;
}

.portfolio-modal-container{
  z-index: 1000;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  display: none; align-items: center; justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);

  .portfolio-modal{
    position: relative;
    width: 90vw;
    height: 90vh;
    padding: 24px 54px 54px;
    background-color: $blue;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    .modal-title{
      height: 40px;
      font-size: 32px;
      text-align: center;
      color: white;
      margin-bottom: 24px;
      letter-spacing: 0.5px;
    }

    .modal-description{
      text-align: justify;
      color: white;
      margin-left: 8px;
    }

    .image{
      margin: auto;
      display: flex; align-items: center; justify-content: center; 
      background-color: black;
      height: calc(90vh - (2*24px + 40px + 54px));
      border-radius: 8px;
      overflow: hidden;
      box-sizing: border-box;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

      img{
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto; height: auto;
      }
    }

    .modal-btn-container{
      position: absolute;
    }
    
    .modal-btn{
      z-index: 5;
      cursor: pointer;
      color: $white;
      font-size: 32px;
      
      &:hover{
        color: white;
      }
    }

    .close-btn-container{
      top: 16px; right: 16px;
      width: 22px; height: 32px;
      display: flex; align-items: flex-start; justify-content: flex-end;
      
      .close-btn{
        z-index: 10;
      }

      i{
        margin-top: -4px;
        display: block;
      }
    }

    .previous-btn-container, .next-btn-container{
      top: 0;
      height: 100%;
      display: flex; align-items: center; justify-content: center;
    }
    
    .previous-btn-container{
      left: 19px;
    }

    .next-btn-container{
      right: 19px;
    }
  }
}
