#key-figures-section{
  // height: 100vh;

  .column{
    margin: auto;
    text-align: center;

    .fa-icon{
      display: block;
      font-size: 48px;
    }

    .key-figure{
      font-family: $family-title;
      font-weight: 600;
      margin-top: 4px;
      font-size: 32px;
    }

    p:last-child{
      margin-top: -4px;
    }
  }
}
