---
title: Homepage
description: 'Web development'
twitter_card_img: 'https://raw.githubusercontent.com/thekuartz/logo/master/favicon_base.png'
---


.hero.is-light.is-large.section-page
  .hero-body
    .container
      #main-logo
        = image_tag 'logo-kuartz.png'

= partial 'views/portfolio'
= partial 'views/clients'
= partial 'views/key_figures'
= partial 'views/team'
